<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dashboard Perú</title>
</head>

<body>
    <h1>Sistema de Monitoreo (Prototipo)</h1>
    <ul>
        <li><a href="/pagina-bcrp">Ver Tipo de Cambio (BCRP)</a></li>
        <li><a href="/pagina-igp">Ver Últimos Sismos (IGP)</a></li>
        <li><a href="/pagina-mef">Ver Ejecución Presupuestal (MEF)</a></li>
        <li><a href="/pagina-sectores">Ver Sectores Estratégicos (Minas, Energía y Ambiente)</a></li>
    </ul>
</body>

</html>